<div class="text-center">
    
    <h1>QUOTES</h1>
    <hr>

    <ul>
        <div *ngFor='let quote of quotes;let i = index'>
          <p>{{quote.name}} was posted on {{quote.completeDate|date}}</p>
          <button (click)='toggleDetails(i)' class="btn btn-outline-info" >more..</button>
          <app-quote-list *ngIf = 'quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-list>
        </div>
      </ul>
      <div class="col-md-6">
        <app-quote-form></app-quote-form>
      </div>
    </div>

